.contactUs form{
	width:30%;
	margin: auto;
}
h1
{
	text-align: center;
}
button{
	padding: 14px 35px;
	text-decoration: none;
	color: #000;
	background-color: #a87728;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 0 0 40%;
}
button:hover{
	background-color: #784d08;
	color: #fff;
}
input {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	margin: 15px 0;
	border-radius: 4px;
}
textarea{
	width:100%;
	resize:none;
	box-sizing: border-box;
	padding: 12px 20px;
	height: 130px;
	margin: 15px 0;
	border-radius: 4px;
}